{% extends 'master.html' %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header pb-0">
                <h3 class="mb-0 card-title">Search Audit Data by Date </h3>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <input type="date" value="{{audit_date}}" class="form-control is-valid state-valid" name="searchDate" placeholder="Valid Email..">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select name="fileType" id="" class="form-control">
                                    <option value="2" {% if auditType == '2' %} selected {% endif %}>Select Audit Type</option>
                                    <option value="0" {% if auditType == '0' %} selected {% endif %}>Withdrawal</option>
                                    <option value="1" {% if auditType == '1' %} selected {% endif %}>Deposit</option>
                                </select>
                            </div>                       
                        </div>
                        <div class="col-md-12">
                            <div class="row custom-controls-stacked">
                                <div class="col-md-2">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked="">
                                        <span class="custom-control-label">Amount</span>
                                    </label>
                                </div>
                                <div class="col-md-1">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked="">
                                        <span class="custom-control-label">Name</span>
                                    </label>
                                </div>
                                <div class="col-md-1">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" >
                                        <span class="custom-control-label">Date</span>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <span style="background-color: #fb7c7c; padding: 10px;">Not Matched</span>
                                    <span style="background-color: #dbdb49; padding: 10px;">parcialy matched</span>
                                    <span style="background-color: #9cf576; padding: 10px;">fully matched</span>
                                    <span style="background-color: lightblue; padding: 10px;">only amount matched</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-12">
                            <input class="btn btn-primary" type="submit">
                             
                        </div>
                    </div>
                </div>
            </form>
        </div>




    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header pb-0">
                <div class="card-title">Bank Statement of ({{audit_date}})</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="vertical-scrollable-datatable" class="table table-striped table-bordered text-nowrap" >
                        <thead>
                            <tr>
                                <th>ID</th> 
                                <th>Tracking ID</th>
                                <th>amount</th> 
                                <th>customar</th> 
                                <th>Status</th>
                                <th>Date</th> 
                            </tr>
                        </thead>
                        <tbody>
                            {% for bankData in bankStatementData %}
                            <tr style="background-color: {{bankData.color}};">
                                <td> {{bankData.ID}} </td>
                                <td> {{bankData.matched_id}} </td>
                                <td> {{bankData.amount}} </td>
                                <td> {{bankData.customar}} </td>
                                <td> {{bankData.status}} </td>
                                <td> {{bankData.request_date}} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header pb-0">
                <div class="card-title">{{auditTypeHeading}} Rquests of ({{audit_date}})</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="vertical-scrollable-datatable2" class="table table-striped table-bordered text-nowrap" >
                        <thead>
                            <tr>
                                <th>ID</th> 
                                <th>Tracking ID</th>
                                <th>amount</th> 
                                <th>customar</th> 
                                <th>Status</th>
                                <th>Date</th> 
                             </tr>
                        </thead>
                        <tbody>
                            {% for bankData in auditRequestData %}
                                <tr style="background-color: {{bankData.color}};">
                                    <td> {{bankData.ID}} </td>
                                    <td> {{bankData.matched_id}} </td>
                                    <td> {{bankData.amount}} </td>
                                    <td> {{bankData.customar}} </td>
                                    <td> {{bankData.status}} </td>
                                    <td> {{bankData.request_date}} </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    </div>

</div>
{% endblock %}